.box-container {
    flex-direction: row;
    display: flex;
    align-content: left;
    flex-wrap: wrap;
}

.box {
    flex: 1;
    padding: 10px;
    border: 1px solid;
    margin: 10px;
}

.fa-star {
    color: green;
    font-size: 10px;
}