<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>beispiel 1</title>
    <script src="https://unpkg.com/vue"></script>
    <style>
        .box {
            padding: 10px;
            border: 1px solid;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<div id="app">
    <input type="text" v-model="searchString" placeholder="suchwort">
    <hr>
    <template v-for="item in getItems()">
        <div class="box">
            {{ item }}
        </div>
    </template>
</div>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            searchString: '',
            items: [
                'item 1', 'item 2', 'hans 3', 'item 4', 'wurst 5', 'item 6', 'item 7'
            ]
        },
        methods: {
            /**
             * @returns {Array}
             */
            getItems: function () {
                if (this.searchString.length === 0) {
                    return this.items
                }

                return this.items.filter(item => {
                    return item.indexOf(this.searchString) > -1
                })
            }
        }
    })
</script>

</body>
</html>