<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>beispiel 2</title>
    <link rel="stylesheet" href="beispiel_2.css">
</head>

<body>
    <div id="app">
        <div class="box-container">
            <div v-for="item in paged()" class="box">{{ item.name }}
                <i v-for="n in item.rating" class="fas fa-star"></i>
            </div>
            <button type="button" v-if="(page*12) < items.length" @click="click" class="box">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <script src="bower_components/vue/dist/vue.js"></script>
    <script src="bower_components/axios/dist/axios.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="beispiel_2.js"></script>
</body>

</html>